body {
  font-family: tahoma;
  color: #333;
  margin: 0px;
}

.nav-bar {
  background: linear-gradient(90deg, rgb(241, 206, 255), rgb(70, 203, 207));
  height: 3.5rem;
  margin-bottom: 1.5rem;
}

.product {
  display: flex;
  flex-flow: wrap;
  padding: 1rem;
}

img {
  border: 1px solid #d8d8d8;
  width: 70%;
  margin: 0 2rem 2rem 2rem;
  box-shadow: 0px .5px 1px #d8d8d8;
}

.product-image {
  width: 80%;
}

.product-image,
.product-info {
  margin-top: 1rem;
  width: 50%;
}

.in-stock-color {
  color: #28a745;
}

.almost-out-of-stock-color {
  color: #ffc107;
}

.out-of-stock-color {
  color: #dc3545;
}

.color-box {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

.cart {
  margin-right: 2.5rem;
  display: flex;
  border: 1px solid #d8d8d8;
  padding: 1rem 1.5rem 0rem 1.5rem;
}

button {
  margin-top: 30px;
  border: none;
  background-color: #1f96ea;
  color: white;
  height: 60px;
  width: 150px;
  font-size: 14px;
  padding: .5rem 0 3rem 0;
}

button:hover {
  background-color: #1e88d4;
}

button:active {
  background-color: #146299;
}

button:disabled {
  background-color: #d8d8d8;
}

.review-form {
  width: 400px;
  padding: 20px;
  margin: 40px;
  border: 1px solid #d8d8d8;
}

input {
  width: 100%;
  height: 25px;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 60px;
}

.tab {
  margin-left: 20px;
  cursor: pointer;
}

.activeTab {
  color: #16C0B0;
  text-decoration: underline;
}